# Environment variables
.env

# Large language model (LLM) files 
models/*

# Temporary or cache files
*.cache*
__pycache__

# Streamlit development files
st.session_state.json

# IDE 
.idea/

version control files
Thumbs.db
.DS_Store
*.swp
*.swo
